<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Formulário</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{{ url_for('static', filename='images/professor.svg') }}" alt="Imagem de professor">
        </div>
        <div class="form">
            <form action="/insercao-professor" id="cadastro" method="POST">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastrar professor</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Nome</label>
                        <input id="nome" type="text" name="nome" placeholder="Digite o nome do professor" required>
                    </div>

                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite o e-mail do professor" required>
                    </div>

                    <div class="input-box">
                        <label for="number">Telefone</label>
                        <input id="telefone" type="tel" name="telefone" placeholder="(xx) xxxx-xxxx" required>
                    </div>

                    <div class="input-box">
                        <label for="habilitacao">Habilitação</label>
                        <select id="habilitacao" name="habilitacao" placeholder="teste" required>
                            <option value="">Selecione uma habilitação</option>
                            {% for habilitacao in habilitacoes %}
                            <option value="{{ habilitacao['id_habilitacao'] }}">{{ habilitacao['descricao'] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="continue-button">
                    <button type="submit" id="btn_cadastrar"><a href="#">Continuar</a> </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>