<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/consulta.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Relação de Professores</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{{ url_for('static', filename='images/professor.svg') }}" alt="Imagem de professor">
        </div>

        <div class="form">
            <div class="form-header">
                <h1>Relação de Professores</h1>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for professor in professores %}
                        <tr>
                            <td>{{ professor.id_professor }}</td>
                            <td>{{ professor.nome }}</td>
                            <td>{{ professor.email }}</td>
                            <td>{{ professor.telefone }}</td>
                            <td class="com-botoes">
                                <button class="btn-editar" title="Editar professor" onclick="location.href='{{ url_for('edicao_professor', id_professor=professor.id_professor) }}'">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>

                                <button class="btn-excluir" title="Excluir professor" onclick="excluirProfessor({{ professor.id_professor }});">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>

                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="5" class="no-data">Nenhum professor cadastrado.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="continue-button">
                <button><a href="/menu">Voltar</a></button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>