<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <title>Formulário</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{{ url_for('static', filename='images/professor.svg') }}" alt="Imagem de professor">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Menu</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <fieldset>
                            <legend>Professores</legend>
                            <button><a href="/cadastro-professor">Cadastrar</a> </button>
                            <button><a href="/consulta-professor">Consultar</a> </button>
                        </fieldset>
                    </div>

                    <div class="input-box">
                        <fieldset>
                            <legend>Disciplinas</legend>
                            <button><a href="/cadastro-disciplina">Cadastrar</a> </button>
                            <button><a href="/consulta-disciplina">Consultar</a> </button>
                        </fieldset>
                    </div>

                    <div class="input-box">
                        <fieldset>
                            <legend>Turmas</legend>
                            <button><a href="/cadastro-turma">Cadastrar</a> </button>
                            <button><a href="/consulta-turma">Consultar</a> </button>
                        </fieldset>
                    </div>

                    <div class="input-box">
                        <fieldset>
                            <legend>Habilitações</legend>
                            <button><a href="/cadastro-habilitacao">Cadastrar</a> </button>
                            <button><a href="/consulta-habilitacao">Consultar</a> </button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>